<mat-card>
  <mat-card-header>
    <mat-card-title>
      Coffees Due
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div class='card-content-text' [ngClass]="{'text-danger': (portions$ | async) > 0, 'text-warning': (portions$ | async) > -4}">
      <span *ngIf='(portions$ | async) != null; else loadingLg'>{{portions$ | async | round}}</span>

    </div>
    <div>PORTIONS</div>
  </mat-card-content>
  <mat-card-footer class='p-15 grey-50-bg border-top card-footer'>
    <div>
      <span *ngIf='(portions$ | async) != null; else loadingSm'>Due: {{portions$ | async | portionsCost | currency:'EUR'}}</span>
    </div>
  </mat-card-footer>
</mat-card>

<ng-template #loadingLg>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #loadingSm>
  <mat-spinner [diameter]='30'></mat-spinner>
</ng-template>
