<div class="login-wrapper">
  <div class="background"></div>
  <img src="/assets/img/logo.svg" class="logo">
  <mat-card class="login-card">
    <mat-card-content>
      <div *ngIf="error" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>

      <form class="form-signin" (submit)="loginWithEmail($event, email.value, password.value)">

        <mat-form-field class="w-100">
          <input type='email' placeholder="Email Address" matInput #email required='required' />
        </mat-form-field>

        <mat-form-field class="w-100">
          <input type='password' placeholder="Password" matInput #password required='required' />
        </mat-form-field>

        <button class="mt-2 w-100 mb-4 sign-in" mat-button type="submit">Sign In</button>
      </form>

      <mat-divider></mat-divider>

      <button class='mt-4 w-100 mb-4 google-sign-in' mat-button (click)="loginWithGoogle()">Sign in with google</button>

      <mat-divider></mat-divider>

      <button [routerLink]="'/register'" mat-button class='w-100 mt-4'>Register Now</button>
    </mat-card-content>
  </mat-card>
  <a href="https://github.com/sprocketc/coffee-tracker" class="github" target="_blank"><img src="/assets/img/github.svg"></a>
</div>
