.login-wrapper {
  text-align: center;
}

.background {
  background-color: #555;
  background-image: url('/assets/img/login-background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  filter: brightness(.4);
}

.logo {
  width: 360px;
  height: auto;
  margin-top: 70px;
  padding: 0 30px;
  opacity: .8;

  @media screen and (max-width: 768px) {
    padding: 0 60px;
    margin-top: 0;
  }
}

.login-card {
  width: 360px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
}

.google-sign-in {
  background: #882929;
  color: #fff;
}

.sign-in {
  background: #264c77;
  color: #fff;
}

.github {
  display: block;
  margin-top: 30px;
  opacity: .8;
}
