.login-wrapper {
  text-align: center;
}

.background {
  background-color: #555;
  background-image: url('/assets/img/login-background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  filter: brightness(.4);
}

.logo {
  width: 360px;
  max-width: 90%;
  height: auto;
  margin-top: 6vh;
  padding: 0 30px;
  margin-bottom: 0.3rem;
  opacity: .8;

  @media screen and (max-width: 768px) {
    padding: 0 80px;
    margin-top: 0;
  }
}

h1 {
  color: rgba(255, 255, 255, .8);
  position: relative;
  margin-bottom: 0.8rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.sepatator {
  width: 250px;
  border-top: 1px solid rgba(255, 255, 255, .8);
  position: relative;
}

.login-card {
  width: 360px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
}

.github {
  display: block;
  margin-top: 30px;
  opacity: .8;
}
