<app-navbar [user]='afAuth.user | async' (logout)='logout()'></app-navbar>

<div style='text-align: center'>

  <div *ngIf="afAuth.user | async as user; else showLogin">
    <app-user-dashboard></app-user-dashboard>
    <button mat-fab id='portion-btn' color="primary">
      <mat-icon aria-label="Example icon-button with a coffee icon">local_cafe</mat-icon>
    </button>
    <button mat-fab id='pay-btn' color="accent">
      <mat-icon aria-label="Pay coffee">euro_symbol</mat-icon>
    </button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</div>



