<div class='dashboard-container'>

  <div class='cards-container'>
    <div class='col-1-el'>
      <app-unpaid-coffees></app-unpaid-coffees>
    </div>
    <div class='col-1-el d-none d-md-flex maskot-wrapper'>
      <img class='img-fluid maskot' src='assets/img/maskot.png' />
    </div>
    <div class='col-1-el'>
      <app-monthly-coffees></app-monthly-coffees>
    </div>
    <div class='col-3-el'>
      <app-average-coffees></app-average-coffees>
    </div>

    <!--<div class='col-3-el'>-->
      <!--<app-leaderboard></app-leaderboard>-->
    <!--</div>-->
  </div>

  <div class='feed-wrapper'>
    <app-live-feed></app-live-feed>
  </div>

</div>
