/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  margin-bottom: 3rem;
}

.dashboard-card-content {
  text-align: center;
  flex: 1 1 100%;
  max-height: 710px;
  overflow: auto;
}

.card-footer {
  flex: 0 0 50px;
}

.card-content-text {
  font-size: 5rem;
}

.grey-50-bg {
  background-color: #fafafa !important;
}

.border-top, .bt {
  border-top: 1px solid rgba(0, 0, 0, .12);
}

mat-card, .mat-dialog-container {
  padding: 0 !important;
}

mat-card-header, .mat-dialog-title {
  padding: 24px 24px 0 24px;
  background-color: #752d2d;
  color: white;
}

.mat-toolbar.mat-primary, .mat-fab.mat-primary {
  background-color: #752d2d;
}

mat-card-content, .mat-dialog-content, .mat-dialog-actions {
  padding: 24px !important;
}

mat-card-footer, .mat-dialog-content, .mat-dialog-actions {
  margin: 0 !important;
}

.text-right {
  .mat-sort-header-container {
    justify-content: flex-end;
  }
}
